.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header, .row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.col {
  flex: 33%;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
}

.jobs-growth-summary {
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  border-color: gray;
}

th {
  width: 200px;
  padding: 5px;
  text-align: left;
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
}

td {
  padding: 5px;
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
}

.region-col {
  text-align: left;
  width: 1300px;
}

.title {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
}

.title2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#industries {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
  border-color: gray;
}

#industries th {
  font-size: 1.4em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  padding: 3px 7px 2px 7px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

#industries td, #industries th {
font-size: 1.2em;
padding: 3px 7px 2px 7px;
}

.bg{background-color:#ff00ff;}